<h1 class="header">About BORGA</h1>

<div id="aboutContent">
    <p>
        This application was developed for the course of Introduction to Internet Programming at ISEL by Alexandre Madeira, Tomás Barroso and Miguel Palma through the course of approximately 3 months.
        <br />This project also serves as proof of the skill developed in this field throughout the semester.
        <br />The BORGA application can be used through this user interface and features a web API with easy-to-locate documentation in the /api/docs resource.
    </p>
</div>