<div id="login-container">
    <form action="">
        <img src="/public/icon-BORGA.png" alt="BORGA-icon">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="submit" value="CONTINUE">
    </form>
</div>