<h1 class="header">{{header}}</h1>

    <div id="groupDetailsContainer">
        {{#if createGroup}}
            <form class="groupDetails" action="/my/groups" method="POST">
                <label>Name:</label>
                <input type="text" name="name" maxlength="30" required>
                <label>Description:</label>
                <input type="text" name="description" required>
                <input type="submit" value="CONFIRM">
            </form>
        {{else}}
            {{#if groupId}}
                <form class="groupDetails" action="/my/groups/edit" method="POST">
                    <input type="hidden" name="id" value="{{groupId}}">
                    <label>New Name:</label>
                    <input type="text" name="name" maxlength="30">
                    <label>New Description:</label>
                    <input type="text" name="description">
                    <input type="submit" value="CONFIRM">
                </form>
            {{/if}}
        {{/if}}
        
    </div>

{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}