<h1 id="search">{{header}}</h1>

    <div>
        {{#if createGroup}}
            <form action="/my/groups" method="POST">
                <input type="text" name="name" required>
                <input type="text" name="description" required>
                <input type="submit" value="CONFIRM">
            </form>
        {{else}}
            {{#if groupId}}
                <form action="/my/groups/edit" method="POST">
                    <input type="hidden" name="id" value="{{groupId}}">
                    <input type="text" name="name">
                    <input type="text" name="description">
                    <input type="submit" value="CONFIRM">
                </form>
            {{/if}}
        {{/if}}
        
    </div>

{{#if error}}
<p><strong>ERROR:</strong> {{error}}</p>
{{/if}}