<div id="gameContent">
    <h1>POPULAR GAMES</h1>
    {{#if games}}
        {{#each games}}
            <div class="game">
                <div class="gameimg"><img src='{{this.image}}' alt="this.name"></div>
                <div class="container">
                    <p><b>{{this.name}}</b></p>
                    <p>{{this.price}}€</p>
                    <button class="add">ADD</button>
                </div>
        </div>
        {{/each}}
    {{/if}}
</div>