<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>BORGA</title>
</head>

<body>
    <div id="bar">
        <a href="/"><img id="logo" src="/public/icon-BORGA.png" alt="Borga Icon"></a>
        {{#if username}}
        <p>{{username}}</p>
        <form action="/logout" method="post">
            <input type="submit" value="LOGOUT">
        </form>
        {{else}}
        <a href="/authentication"><button id="login">LOGIN</button></a>
        {{/if}}
    </div>
    <nav id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/search">Search Games</a></li>
            <li><a href="/my/groups">Groups List</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>