<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> BORGA - Games </title>
    </head>
    <body>
        <h2>Trabalho de Introdução à Programção na Web </h2>
        <h4>ISEL - IPW - G88 </h4>
        <p>O Miguel é o membro mais fixe deste grupo e o resto é lidar</p> 
        <nav>
            <a href = "/home">Home></a> |
            <a href = "/search">Search</a> |
            <a href = "/list">List</a>
        </nav>
        <h3>Find your favourite game</h3>
        <form action = "/" method = "get">
            <input type = "text" placeholder="Please insert a game name" name = "search">
            <input type = "submit" value = "Search">
        </form>
    </body>
</html> -->