<h1 id="search">Find a Game</h1>

<form action="/global/games" method="GET" id="search">
    <label for="txtQuery">Query:</label>
	<input type="text" id="txtQuery" name="search">
	<input type="submit" value="Search" id="btn">
</form>