<h1 class="header">Find a Game</h1>

<form action="/global/games" method="GET" class="header">
	<label for="txtQuery">Query:</label>
	<input type="text" id="txtQuery" name="search">
	<input type="submit" value="Search" id="btn">
</form>